h1 {color: rgb(151, 6, 6)}
h1 {text-align: center;}
body {background-color: rgb(0, 0, 0);}
h2 {background-color:whitesmoke ;}
h3 {background-color:whitesmoke ;}
h4 {background-color:whitesmoke ;}
h5 {background-color:whitesmoke ;}
h6 {color: red}
h6 {font-size: 15px;}
  